<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Projects</title>
</head>

<body>
    <%- include("partials/navbar", {page: "/solutions/projects" }) %>
        <div class="container mx-auto px-5">
            <div class="hero bg-base-200 p-6 rounded-lg">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Projects</h1>
                        <p class="py-6">
                            Below, you will find detailed information about the
                            projects we have worked on:
                        </p>
                        <div class="space-x-1">
                            <a href="/solutions/projects?sector=Industry" class="btn btn-primary btn-xs">Industry</a>
                            <a href="/solutions/projects?sector=Transportation"
                                class="btn btn-primary btn-xs">Transportation</a>
                            <a href="/solutions/projects?sector=Land%20Sinks" class="btn btn-primary btn-xs">Land
                                Sinks</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table w-full border-collapse border">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th class="text-center">Sector</th>
                            <th class="text-center">Summary</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% projects.forEach(project => { %> 
                        <tr>
                            <td>
                                <div class="font-bold"><%= project.title %></div>
                            </td>
                            <td class="text-center">
                                <a href=<%= "/solutions/projects/?sector=" + encodeURIComponent(project.sector) %> class="btn btn-ghost btn-xs w-full h-full"><%= project.Sector.sector_name %></a>
                            </td>
                            <td><%= project.summary_short %></td>
                            <th>
                                <a href=<%= "/solutions/projects/" + project.id %> class="btn btn-ghost btn-xs w-full h-full">Details</a>
                            </th>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>