<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= session.user.userName %></title>
</head>

<body>
    <%- include("partials/navbar", {page: "/solutions/projects" }) %>
        <div class="container mx-auto px-5">
            <div class="hero bg-base-200 p-6 rounded-lg">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold"><%= session.user.userName %></h1>
                        <p class="py-6">
                            User History: <%= session.user.email %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table w-full border-collapse border">
                    <thead>
                        <tr>
                            <th class="text-center">Login Date/Time</th>
                            <th class="text-center">Client Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% session.user.loginHistory.forEach( hist => { %> 
                        <tr>
                            <td>
                                <%# made typo when creating loginHistory Schema so I am just using data instead of date sorry %>
                                <div class="font-bold"><%= hist.dataTime %></div>
                            </td>
                            <td class="text-center">
                                <div class="font-bold"><%= hist.userAgent %></div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>